@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  text-align: center;
  background-image: url(https://i.redd.it/nq9bsci7lyr81.gif);
  min-height: 100vh;
}

main {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
}

.fundo img{
  position: absolute;
  top: 30%;
  left: 8%;
  width: 35%;
  height: 31%;
  border-radius: 20px;
}
.pokedex {
  width: 90dvh;
}

.pokemon__image {
  position: absolute;
  bottom: 45%;
  left: 28%;
  transform: translate(-63%, 20%);
  height: 15dvh;
}

.pokemon__data {
  position: absolute;
  font-weight: 600;
  color: #000000;
  top: 84.5%;
  left: 14%;
  font-size: clamp(3px, 3vw, 15px);
}

.pokemon__name {
  color: #3a444d;
  text-transform: capitalize;
}

.form {
  position: absolute;
  width: 30%;
  top: 100%;
  left: 1%;
}

.input__search {
  width: 100%;
  padding: 4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.buttons {
  position: absolute;
  bottom: 23%;
  left: 24%;
  width: 18%;
  transform: translate(-57%, 0);
  display: flex;
  gap: 3px;
}

.button {
  width: 50%;
  padding: 4%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}


.tab-buttons {
  margin-top: 20px;
}

.tab-button1 {
  background-color: #ff3300;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 1rem;
  position: absolute;
  top: 72%;
  left: 76%;
  height: 8%;
  width: 15%;
  border: solid 2px black;
}
.tab-button2 {
  background-color: #ff3300;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 1rem;
  position: absolute;
  top: 82%;
  left: 59.5%;
  height: 8%;
  border: solid 2px black;
}
.tab-button3 {
  background-color: #ff3300;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 100%;
  position: absolute;
  top: 82%;
  left: 76%;
  height: 8%;
  width: 15%;
  border: solid 2px black;
}

.tab-button1:hover {
  background-color: #000000;
}
.tab-button2:hover {
  background-color: #000000;
}
.tab-button3:hover {
  background-color: #000000;
}

.tab-content {
  position: absolute;
  top: 43%;
  left: 59.5%;
  display: none;
  font-size: 100%;
  width: 275px;
  color: #ffffff;
  padding: 10px;
}

.pokemon__evolutions {
  font-size: 100%;
  color: #ffffff;
}

